body{
     
    background-color: rgb(65, 65, 65);
    color: rgb(207, 207, 207);
    text-align:center ;
    align-items: center;
}


a {    color: lime;     }
footer a{    color: yellow;     }

header{
    /* border:3px solid lime ; */
    /* position: fixed; */
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.subtitle-header{    font-size: small;      }


.nav-header{
    display: flex;
    flex-grow: 3;
    flex-direction: column;
    justify-content: space-between;
}










/* ---------- FLEX SECTION ---------- 

 *{
    box-sizing: border-box;
}

.flex-container{
    border: 3px solid red;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;  


.body-flex .html-flex{
    margin: 0px;
    padding: 0px;
    }

.header-flex{
    border:3px solid rgb(209, 127, 83) ;
    position: fixed;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.title-header-flex{
    border:3px solid rgb(225, 236, 17) ;
    align-items: center;
}

.subtitle-header-flex{
    border: 3px solid rgb(40, 57, 218);
    align-items: center;
    font-size: small;
}

.nav-header-flex{
    border: 3px solid rgb(55, 15, 15);
    align-items: center;

}

.main-flex{
    border: 3px solid rgb(40, 230, 255);
    flex-grow: 5;
    display: flex;
    justify-content: last baseline;
    
}
.nav-left{
    border: 3px solid violet;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 0;

}
.content1{
    border: 3px solid salmon;
    flex-grow:;
    display: flex;
    flex-direction: row;
}

.content2{
    border: 3px solid rgb(74, 54, 52);
    flex-grow: 1;

}

.content3{
    border: 3px solid rgb(0, 41, 174);
    flex-grow: 2;
    flex-direction: column;
    align-self: flex-endS;
}



.nav-right{
    border: 3px solid violet;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 0;
}





.footer-flex{
    border: 1px solid lime;
}



 */
